In [55]:
import sqlite3
import pandas as pd
import numpy as np

In [71]:
# Loading Data
db = sqlite3.connect('archive/database.sqlite')
country = pd.read_sql_query('SELECT * FROM Country', db)
league = pd.read_sql_query('SELECT * FROM League', db)
match = pd.read_sql_query('SELECT * FROM Match', db)
player = pd.read_sql_query('SELECT * FROM Player', db)
player_attributes = pd.read_sql_query('SELECT * FROM Player_Attributes', db)
team = pd.read_sql_query('SELECT * FROM Team', db)
team_attributes = pd.read_sql_query('SELECT * FROM Team_Attributes', db)
league_season_winners= pd.read_sql_query("""
select league_id, season,team_api_id, team_long_name, max(wins) as wins
from
	(SELECT league_id, season,team_api_id, team_long_name, count(*) as wins
	FROM Match, Team 
	WHERE (home_team_api_id==team_api_id AND home_team_goal > away_team_goal) OR (away_team_api_id == team_api_id AND home_team_goal < away_team_goal)
	GROUP By league_id, season,team_api_id, team_long_name)
where wins>10
GROUP by league_id, season;
 """, db)
db.close()

In [76]:
league_season_winners.head(18)

    league_id     season  team_api_id          team_long_name  wins
0           1  2008/2009         8635          RSC Anderlecht    24
1           1  2009/2010         8635          RSC Anderlecht    22
2           1  2010/2011         8635          RSC Anderlecht    19
3           1  2011/2012         8635          RSC Anderlecht    20
4           1  2012/2013         8635          RSC Anderlecht    20
5           1  2014/2015         8342          Club Brugge KV    17
6           1  2015/2016         8342          Club Brugge KV    21
7        1729  2008/2009        10260       Manchester United    28
8        1729  2009/2010         8455                 Chelsea    27
9        1729  2010/2011        10260       Manchester United    23
10       1729  2011/2012         8456         Manchester City    28
11       1729  2012/2013        10260       Manchester United    28
12       1729  2013/2014         8456         Manchester City    27
13       1729  2014/2015         8455                 Chelsea    26
14       1729  2015/2016         8197          Leicester City    23
15       4769  2008/2009         9827   Girondins de Bordeaux    24
16       4769  2009/2010         8592  Olympique de Marseille    23
17       4769  2010/2011         8639              LOSC Lille    21